process {
    withName:bedgraphtobigwig_pro {
        executor='slurm'
        queue="${params.queue}"
        cpus=2
        memory='80GB'
        time='6h'
        container = "${params.image_folder}bedgraphtobigwig-2.10.sif"
        containerOptions = "${params.extra_mounts}  -B ${params.project_folder}:${params.project_folder} -B ${params.bdg_folder}:/bdg_folder "
    }
}

